# Dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
*.exe
*.AppImage

# Electron
*.asar
out/

# Logs
*.log

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Arquivos grandes
alarme.mp3
